*{
    text-decoration: none;
}
.navbar{
    background: rgb(4, 59, 223);
    font-family: Calibri;
    padding-right: 15px;
    padding-left: 25px;
}
.navdiv{
    display:flex;
    align-items: center;/*justify-content: space-between;*/
}
.logo a{
    font-size: 55px;
    font-weight: 600;
    color:rgb(237, 237, 239);
    margin-right:340px;

}
ul{
    list-style:none;
    padding: 0;
    margin: 0;
    display: flex;
}
li{
    list-style: none;
    display: inline-block;
    position: relative;
}
li a{
    color: rgb(243, 242, 247);
    font-size: 22px;
    font-weight: bold;
    margin-right: 35px;
    padding:8px 8px;
    border-radius:5px;
    
    
}
body{
    padding:0px;
    margin: 0px;
    background: rgb(243, 243, 246);
    background-image:url("POLICE1.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;


}
li a:hover{
    background-color: rgb(4, 15, 17);
    

}
.hello{
    color:red;
    font-size: 20px;
    margin:0px;
    padding: 0px;
}
.li1{
    display: none;
    position:absolute;
    background-color: blue;
    
}
li:hover .li1{
    display: block;
    background-color: rgb(32, 9, 237);


}
.li1 ul{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}
.li1 ul li{
    display:block;
    padding: 10px;
    margin: 10px;
}
.li1 ul li:hover{
    background-color: white;
} 